
@model rm.Models.Ridge
<style>
    table {
        width: 300px;
        height: 200px;
    }

    td {
        width: auto;
        text-align: left;
        padding: 7px;
        border: 2px solid black;
    }

</style>

<div style="margin-left: 30px;">
    <h2>Теплиця № @Model.idRidge</h2>
    <table align="left">
        <tr>
            <td>
                Вирощуються
            </td>
            <td>
                @Model.Fetuse.Name
            </td>
        </tr>

        <tr>
            <td>
                Вологість(%)
            </td>
            <td>
                @Model.Humidity
            </td>
        </tr>

        <tr>
            <td>
                Освітлення(лк)
            </td>
            <td>
                @Model.Luminescence
            </td>
        </tr>

        <tr>
            <td>
                Температура(°С)
            </td>
            <td>
                @Model.Temperature
            </td>
        </tr>
        <tr>
            <td>
                Авто-догляд
            </td>
            <td>
                @Model.Auto
            </td>
        </tr>
        <tr>
            <td>
                Працює за сценарієм
            </td>
            <td>
                @Model.Scenario.Name
            </td>
        </tr>
    </table>
</div>


