@model rm.Models.User

<div class="title-middle">
    <h2>Office</h2>
</div>
<div style="margin-left: 30px;">
    <label>@Html.DisplayNameFor(model => model.Name):</label>
    <label>@Model.Name</label><br />
    <label>@Html.DisplayNameFor(model => model.Surname):</label>
    <label>@Model.Surname</label><br />
    <label>@Html.DisplayNameFor(model => model.Mail):</label>
    <label>@Model.Mail</label><br />
    <label>@Html.DisplayNameFor(model => model.Role):</label>
    <label>@Model.Role1.Name</label><br />
</div>