
<style>
    table {
        width: 720px;
    }

    td {
        width: auto;
        text-align: center;
        padding: 7px;
        border: 2px solid black;
    }
    th {
        width: auto;
        text-align: center;
        padding: 7px;
        border: 2px solid black;
    }
   
</style>
<div>
    <h2>Ridges</h2>
    <table align="left">
        <tr>
            <th>
                Номер
            </th>
            <th>
                Вирощується  
            </th>
            <th>
                Вологість(%)  
            </th>
            <th>
                Освітлення(лк) 
            </th>
            <th>
                Температура(°С) 
            </th>
            <th>
                Авто 
            </th>
            <th>
                Лампа(спектр)
            </th>
            <th>
                
            </th>
        </tr>

        @for (var i = 0; i < ViewBag.ridge_list.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.ridge_list[i].idRidge
                </td>
                <td>
                    @ViewBag.ridge_list[i].Fetuse.Name
                </td>
                <td>
                    @ViewBag.ridge_list[i].Humidity
                </td>
                <td>
                    @ViewBag.ridge_list[i].Luminescence
                </td>
                <td>
                    @ViewBag.ridge_list[i].Temperature
                </td>
                <td>
                    @ViewBag.ridge_list[i].Auto
                </td>
                <td>
                    @ViewBag.lamps[i].Spectre
                </td>
                <td>
                    @Html.ActionLink("деталізувати","Details", new { ViewBag.ridge_list[i].idRidge})
                </td>
            </tr>
        }
    </table>
</div>

